<div layout="column" layout-align="center center"  ng-cloak>
<div style="height: 100px;"></div>
<md-whiteframe class="md-whiteframe-24dp" layout="column" layout-align="space-around center" style="width: 300px;">
  <div><p>Login</p></div>
  <div>
    <md-input-container class="md-icon-float md-block" >
      <!-- Use floating label instead of placeholder -->
      <label>Username</label>
      <input ng-model="user.name" type="text">
    </md-input-container>
</div>
<div>
    <md-input-container class="md-icon-float md-block" >
      <!-- Use floating label instead of placeholder -->
      <label>Password</label>
      <input ng-model="user.password" type="password">
    </md-input-container>

<section layout="column"  layout-align="end center">
    <md-button class="md-raised md-primary">Login</md-button>

</section>   
    <div style="text-align: center; height: 50px;" ><a href="">Forgot Password</a></div>
 </md-whiteframe>
</div>
</div>